<%- include ("./../partials/header.ejs") %>
<div
  class="container d-flex flex-column justify-content-center align-items-center bg-warning p-5 mx-auto"
>
  <h1 class="">
    Welcome to the hotel hopper!
  </h1>
  <p class="lead">
    Share your experience about the hotel you stayed and read of what may be the
    best for your stay !
  </p>
  <a href="/hotels"><button class="btn btn-secondary">Take a view!</button></a>
</div>
<%- include ("./../partials/footer.ejs")%>
